.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  transform: translate(0px, 100px);
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  perspective: 1000px;
  padding: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-top: 10px;
  text-align: center;
}

.card-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.date-picker-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.date-picker {
  margin-right: 10px;
}

.card-button {
  background-color: #0077ff;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  /* margin-top: 10px; */
}

.card-button:hover {
  background-color: #005fcc;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  padding: 10px;
  font-size: 100px;
}


.result-container {
  justify-content: center;
  margin : 10px;
  transform: translate(0px, 20px);
}